# Built outputs
/build/
**/build/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties

# IDE
.idea/
*.iml
*.hprof
captures/

# OS
.DS_Store
Thumbs.db

# Release
*.apk
*.aab
*.jks
*.keystore

# Signing
signing.properties

# Docs
docs/
